<!doctype html>
<html>
<head>
  <title>🌲 Sondaggio sulla Sila</title>

  <meta property="og:image" content="https://sila.love/webcams/lorica" />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    // tailwind.config = {
    //   theme: {
    //     extend: {
    //       colors: {
    //         clifford: '#da373d',
    //       }
    //     }
    //   }
    // }
  </script>
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
<script type="text/javascript" src="https://form.jotform.com/jsform/222071851707049"></script>
</body>
</html>
